img {
  max-width: 5%;
  height: auto;
  margin: "10px";
}

.Coin-Logo {
  position: relative;
  top: 3px;
  right: 3px;
}
.symbol {
  position: relative;
  font-size: 90%;
  left: 10px;
  color: grey;
}
table {
  font-family: "Nunito", sans-serif;
  min-width: 10vw;
  color: rgb(91, 38, 57);
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: rgb(247, 242, 244) 1px 1px 0px inset;
  font-size: 1vw;
  box-shadow: rgb(247, 242, 244) 1px 1px 0px inset;
  background: rgb(240, 231, 234);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(226, 207, 213);
  border-image: initial;
  border-radius: 12px;
  flex: 1 1 0%;
  overflow: hidden;
  table-layout: fixed;
}
.chartandpay {
  table-layout: fixed;
  position: relative;
  left: 100px;
}
tr {
  text-align: center;
  padding: 12px;

  border-width: 1px;
  border-radius: 0px;
}
.theCoinId:hover {
  background-color: rgb(240, 231, 234);
  box-shadow: rgb(226, 207, 213) 1.5px 1.5px 3px,
    rgb(247, 242, 244) -3px -3px 6px -0.5px;
  cursor: pointer;
}

.theCoinIdSec {
  float: left;
}
chart {
  width: 30px;
  float: left;
}

.table-header-button {
  cursor: pointer;
}
.table-header-button:hover {
  cursor: pointer;
  box-shadow: rgb(226, 207, 213) 1.5px 1.5px 3px,
    rgb(247, 242, 244) -3px -3px 6px -0.5px;
}
th,
td,
tr {
  text-align: left;
  padding: 10px;
  border-width: 1px;
  border-color: red;
  border: collapse;
  table-layout: fixed;

  border-radius: 10px;
}
td {
  margin: 0px solid black;

  border: collapse;
  margin: 0px;
}

.up {
  background-color: rgb(212, 248, 205);
  box-shadow: rgb(226, 207, 213) 1.5px 1.5px 3px,
    rgb(247, 242, 244) -3px -3px 6px -0.5px;
  border-collapse: collapse;
  border-radius: 10px;
  color: #651962;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
}
.down {
  background-color: rgb(248, 205, 205);
  box-shadow: rgb(226, 207, 213) 1.5px 1.5px 3px,
    rgb(247, 242, 244) -3px -3px 6px -0.5px;
  border-collapse: collapse;
  border-radius: 10px;
  color: #651962;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
}
.fuck {
  background-color: rgb(248, 205, 205);
  box-shadow: rgb(226, 207, 213) 1.5px 1.5px 3px,
    rgb(247, 242, 244) -3px -3px 6px -0.5px;
  border-collapse: collapse;
  border-radius: 10px;
  color: #651962;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
}
iframe {
  border-radius: 10px;

  float: right;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: 1px solid rgb(226, 207, 213);
  min-width: 40px;
  min-height: 40px;
}
.page-selection {
}
.emoji {
  font-size: 2vw;
  position: relative;
  box-shadow: rgb(226, 207, 213) 1.5px 1.5px 3px,
    rgb(247, 242, 244) -3px -3px 6px -0.5px;

  background-color: rgb(205, 231, 248);
  border: 1px solid rgb(255, 255, 255);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 40vw;
  margin: 0 auto;
  min-height: 1vh;
  padding-bottom: 5px;
}
.btn {
  flex: 1 1 auto;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  padding: 3px;
  text-align: center;

  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(92, 91, 91);
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  float: left;
}

/* Demo Stuff End -> */

/* <- Magic Stuff Start */

.btn:hover {
  box-shadow: rgb(226, 207, 213) 1.5px 1.5px 3px,
    rgb(247, 242, 244) -3px -3px 6px -0.5px;
}

.btn-1 {
  color: rgb(91, 38, 57);
  font-family: "Nunito", sans-serif;
  padding: 5px;
  margin: 3px;
  max-width: 90px;
  box-shadow: rgb(247, 242, 244) 1px 1px 0px inset;
  background: rgb(240, 231, 234);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(226, 207, 213);
  border-image: initial;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  float: left;
}
.btn-2 {
  color: rgb(91, 38, 57);
  font-family: "Nunito", sans-serif;
  padding: 5px;
  margin: 3px;
  max-width: 90px;
  box-shadow: rgb(247, 242, 244) 1px 1px 0px inset;
  background: rgb(255, 0, 102);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(226, 207, 213);
  border-image: initial;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  float: left;
}

/* Magic Stuff End -> */
