img {
  max-width: 5%;
  height: auto;
  margin: "10px";
}

.Coin-Logo {
  position: relative;
  top: 3px;
  right: 3px;
}
.symbol {
  position: relative;
  font-size: 90%;
  left: 10px;
  color: grey;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 1000px;
  color: black;
  border-radius: 10px;
  background-color: white;
  font-size: 15px;
  border: collapse;
}

tr {
  text-align: center;
  padding: 12px;

  border-width: 1px;
  border-radius: 0px;
}
.theCoinId:hover {
  background: linear-gradient(to bottom right, #d1e9f7, #e9dcfa);
}
.theCoinIdSec {
  float: left;
}
.chart-background {
  background-image: white;
  border: 1px solid rgb(174, 132, 230);
  border-radius: 10px;
  padding: 5px;
}
th,
td,
tr {
  text-align: left;
  padding: 12px;
  border-width: 1px;
  border-color: red;
  border: collapse;

  border-radius: 10px;
}
td {
  margin: 0px solid black;

  border: collapse;
  margin: 0px;
}

.up {
  background: linear-gradient(to bottom right, #48b770, #7ebc43);
  border-collapse: collapse;
  border-radius: 10px;
  color: white;
  text-align: center;
}
.down {
  background: linear-gradient(to bottom right, #bb4462, #d1332e);
  border-collapse: collapse;
  border-radius: 10px;
  color: white;
  text-align: center;
}
.fuck {
  background: linear-gradient(to bottom right, #8b221f, #d1332e);
  border-collapse: collapse;
  border-radius: 10px;
  color: white;
  text-align: center;
}
.emoji {
  font-size: 25px;
  position: relative;

  background: linear-gradient(to bottom right, #349dda, #752ed1);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 30vw;
  margin: 0 auto;
  min-height: 1vh;
}
.btn {
  flex: 1 1 auto;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  padding: 3px;
  text-align: center;

  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(92, 91, 91);
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

/* Demo Stuff End -> */

/* <- Magic Stuff Start */

.btn:hover {
  background-color: rgb(158, 107, 224);
  color: white; /* change the direction of the change here */
}

.btn-1 {
  background-image: white;
  border: 1px solid rgb(174, 132, 230);
}

.btn-2 {
  background-image: white;
  border: 1px solid rgb(111, 30, 218);
}

.btn-3 {
  background-image: white;
  border: 1px solid rgb(111, 30, 218);
}

.btn-4 {
  background-image: white;
  border: 1px solid rgb(111, 30, 218);
}

.btn-5 {
  background-image: linear-gradient(
    to right,
    #ffecd2 0%,
    #fcb69f 51%,
    #ffecd2 100%
  );
}

/* Magic Stuff End -> */
