.wrapper {
  position: relative;
  display: flex;
  min-width: 1000px;
  float: left;
  padding-top: 10px;
  color: white;
  border: 1.5px;
  border-color: linear-gradient(to bottom right, #349dda, #752ed1);
}
.glass {
  position: relative;
  right: 10px;
  bottom: 26px;
  color: white;
  height: 1px;
}

.search {
  border: 1px solid rgb(111, 30, 218);
  border-radius: 5px;
  height: 20px;
  width: 100%;
  padding: 2px 2px 2px 30px;
  outline: 0;
  background-color: #282c34;
  color: white;
  float: left;
}
.search:hover,
.search:focus {
  border: 1px solid rgb(127, 56, 219);
  background-color: #282c34;
}
