.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Buy-button {
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 17px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.Buy-button :hover {
  background-color: #5cbf2a;
}
.Buy-button :active {
  position: relative;
  top: 1px;
}

.App-header {
  background-color: rgb(238, 221, 226);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(91, 38, 57);
}
.App-body {
  background-color: rgb(238, 221, 226);
  min-width: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(91, 38, 57);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo {
  max-width: 40%;
  height: auto;
  padding: 0px;
  position: center;
  float: center;
}
h1 {
  align-items: center;
  float: center;
  color: rgb(91, 38, 57);

  float: left;
  margin: 5px;
  padding-top: 55px;
  font-family: "Nunito", sans-serif;
  font-size: 4vw;
}
.row {
  float: right;
}
.brain {
  position: relative;
  bottom: 16px;
  right: 10px;
  font-size: 5vw;
}
.App-footer {
  background-color: rgb(238, 221, 226);
  min-width: 50vh;
  min-height: 10vw;
  display: flex;
  flex-direction: column;

  font-size: calc(6px + 1vmin);
  color: rgb(91, 38, 57);
  font-family: "Nunito", sans-serif;
}
.footer-title {
  color: rgb(91, 38, 57);
  margin: 5px;
  padding-top: 5px;
  font-family: "Nunito", sans-serif;
  font-size: calc(7px + 1vmin);
}
.donate {
  float: left;
  padding-top: 20px;
}
